<div id="root"></div>
<script type="text/javascript" src="/prism-assets/prism.js"></script>
<script type="text/javascript" async src="/prism-assets/bundle.js"></script>
<script type="text/javascript">
  Prism.run("#root", "/app.rb");
</script>

